.password-div {
  padding: 5%;
  height: 100vh;
}
#sent-card {
  background: rgba(50, 51, 50, 0.75);
  padding: 2%;
  margin: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}
#password-logo-image {
  width: 25%;
  height: 15%;
  margin-top: -2%;
}
#password-image {
  height: 50vh;
  width: 40vw;
  margin-top: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}
#text-pass {
  color: #fff;
  font-weight: 300;
  margin-top: 2%;
}
